body {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    border-radius: 90%;
}
a:hover {
    color: blue;
}
.whatsapp { color: #25D366; }
.telegram { color: #0088CC; }
.github { color: #211F1F; }
.linkedin { color: #0077B5; }